/* Global */
* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}

html {
   font-size: 16px;
}

html,body,#root {
   height: 100%;
}

.title {
   margin-bottom: 50px;
   margin-top: 30px;
}
/* ----------------------- */
/* Base elements */

label {
   font-size: 1.1rem;
   color: #505050;
}

input {
   outline: none;
   border: 2px solid #505050;;
   border-radius: 4px;
   padding: 5px;
   padding-left: 10px;
}

input::placeholder {
   color: gray;
}

button {
   cursor: pointer;
   transition: all .1s ease-in-out;
}

button:hover {
   opacity: .7;
}