.container {
   max-width: 1200px;
   margin: 0 auto;

   display: flex;
   flex-direction: column;
   align-items: center;
}


@media (max-width: 576px) {
   .content {
      width: 100%;
      margin: 0 2%;
   }
}