.form {
   margin-bottom: 50px;
   max-width: 1000px;
}

.checkboxBox {
   margin-bottom: 20px;
}

.labelCheckbox {
   margin-right:10px;
}

.inputCheckbox,
.labelCheckbox {
   cursor: pointer;
}

.labelText {
   display: block;
   margin-bottom: 5px;
}

.inputText {
   margin-right: 10px;
}

.btnCriar {
   border: none;
   border-radius: 4px;
   background-color: black;
   color: white;
   padding: 8px;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}