.h1Box {
   display: flex;
   margin-bottom: 30px;
}

.h1Box h1 {
   margin-right: 50px;
}

.h1Box button {
   border: none;
   background-color: transparent;
   color: orangered;
   margin-top: 7px;
}

.task {
   background-color: aliceblue;
   border-radius: 4px;
   padding: 5px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   margin-top: 10px;
}

.empty {
   font-size: 2rem;
   text-align: center;
   color: darkgrey;
}

.task p {
   margin-bottom: 5px;
}

.task.concluido {
   background-color: green;
   color: white;
}

.task.concluido p {
   text-decoration: line-through;
   font-style: italic;
}

.btns {
   display: flex;
   align-items: center;
   gap: 5px;
}

.btns button {
   border: none;
   padding: 5px;
   width: 50%;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.concluir {
   background-color: green;
   color: white;
}

.desfazer {
   background-color: orange;
}

.apagar {
   background-color: red;
   color: white;
}

.apagar:hover {
   opacity: .6;
}